@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    margin: 0 auto;
  }

  .swiper{
    position: static !important;
  }
  /* .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -35px) !important;
    left: auto;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -30px) !important;
    right: auto;
  } */